NodeRed/flows.json
[
    {
        "id": "3499b669ec67eaa8",
        "type": "tab",
        "label": "Detector de Síntomas COVID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08f40b660ba88a56",
        "type": "mqtt in",
        "z": "3499b669ec67eaa8",
        "name": "",
        "topic": "codigoIoT/detectorSintomas/flow",
        "qos": "2",
        "datatype": "json",
        "broker": "bcd3ae9b12fd9abf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "1dd55d237f053401",
                "b37f66c21bc19b1b",
                "80a79c79cde0c960"
            ]
        ]
    },
    {
        "id": "e8b86363d01066c8",
        "type": "ui_gauge",
        "z": "3499b669ec67eaa8",
        "name": "",
        "group": "8676cd60bc24459c",
        "order": 1,
        "width": 2,
        "height": 3,
        "gtype": "gage",
        "title": "Ritmo Cardiaco",
        "label": "BPM",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#cc0000",
            "#00b500",
            "#a40000"
        ],
        "seg1": "60",
        "seg2": "85",
        "className": "",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "1dd55d237f053401",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Detector HR",
        "func": "if (msg.payload.hrv == 1) {\n    msg.payload = msg.payload.hr;\n    global.set (\"hr\", msg.payload);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "e8b86363d01066c8"
            ]
        ]
    },
    {
        "id": "b37f66c21bc19b1b",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Detector SPO2",
        "func": "if (msg.payload.spo2v == 1) {\n    msg.payload = msg.payload.spo2;\n    global.set (\"spo2\", msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "a926cffa320fca84"
            ]
        ]
    },
    {
        "id": "a926cffa320fca84",
        "type": "ui_gauge",
        "z": "3499b669ec67eaa8",
        "name": "",
        "group": "8676cd60bc24459c",
        "order": 2,
        "width": 2,
        "height": 3,
        "gtype": "wave",
        "title": "Oxigenación (SpO2)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "80a79c79cde0c960",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Detector TIR",
        "func": "msg.payload = msg.payload.tir + 2.2;\nglobal.set (\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "e98955a390ce8d9a"
            ]
        ]
    },
    {
        "id": "e98955a390ce8d9a",
        "type": "ui_gauge",
        "z": "3499b669ec67eaa8",
        "name": "",
        "group": "8676cd60bc24459c",
        "order": 3,
        "width": 2,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "33",
        "max": "39",
        "colors": [
            "#3465a4",
            "#4e9a06",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "36.5",
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "725de091c1dcd518",
        "type": "ui_text_input",
        "z": "3499b669ec67eaa8",
        "name": "",
        "label": "Nombre del paciente",
        "tooltip": "",
        "group": "c6dc53b0caa767d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "3f72b08fc89a6986"
            ]
        ]
    },
    {
        "id": "6b74bbccc373b87c",
        "type": "ui_text_input",
        "z": "3499b669ec67eaa8",
        "name": "",
        "label": "Correo electronico",
        "tooltip": "",
        "group": "c6dc53b0caa767d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "be602ae79735e9f6"
            ]
        ]
    },
    {
        "id": "3f72b08fc89a6986",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Nombre del paciente",
        "func": "global.set (\"paciente\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "be602ae79735e9f6",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Correo del paciente",
        "func": "global.set (\"correo\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb5bd714b1dc060",
        "type": "ui_button",
        "z": "3499b669ec67eaa8",
        "name": "",
        "group": "5b78f074be2b5944",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Realizar diagnostico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "be407f39ee7d51d4"
            ]
        ]
    },
    {
        "id": "be407f39ee7d51d4",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Protodiagnostico",
        "func": "\n\nif ((global.get (\"temp\") > 35.5 && global.get (\"temp\") < 36.5) && (global.get (\"hr\") > 60 && global.get (\"hr\") <90 ) && (global.get (\"spo2\") > 90))\n{\n    msg.payload = \"Signos vitales normales\";\n    global.set (\"protodiagnostico\", msg.payload);\n    msg.to = global.get (\"correo\");\n    msg.topic = \"Proto diagnostico de covid - Ejercicio de CódigoIoT\";\n    return msg;\n} else {\n    msg.payload = \"Signos vitales alterados, se recomienda ir con un médico\";\n    global.set (\"protodiagnostico\", msg.payload);\n    msg.to = global.get (\"correo\");\n    msg.topic = \"Proto diagnostico de covid - Ejercicio de CódigoIoT\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "d9b36f2943f183d4",
                "07a3f4f3efe7ddd1",
                "25b1fba538a2644d"
            ]
        ]
    },
    {
        "id": "d9b36f2943f183d4",
        "type": "ui_audio",
        "z": "3499b669ec67eaa8",
        "name": "",
        "group": "5b78f074be2b5944",
        "voice": "urn:moz-tts:speechd:Spanish%20(Latin%20America)?es",
        "always": "",
        "x": 840,
        "y": 580,
        "wires": []
    },
    {
        "id": "07a3f4f3efe7ddd1",
        "type": "function",
        "z": "3499b669ec67eaa8",
        "name": "Query",
        "func": "\n\nmsg.topic = \"INSERT INTO registro (`nombre`,`correo`,`temp`,`bpm`,`sp02`,`protodiagnostico`) VALUES ('\" + global.get (\"paciente\") + \"','\" + global.get (\"correo\") + \"',\" + global.get (\"temp\") + \",\" + global.get (\"hr\") + \",\" + global.get (\"spo2\") + \",'\" + global.get(\"protodiagnostico\") + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "769342a6d476c828"
            ]
        ]
    },
    {
        "id": "769342a6d476c828",
        "type": "mysql",
        "z": "3499b669ec67eaa8",
        "mydb": "42ffaf52d9acc830",
        "name": "",
        "x": 1150,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "25b1fba538a2644d",
        "type": "e-mail",
        "z": "3499b669ec67eaa8",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": false,
        "name": "",
        "dname": "",
        "credentials": {},
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "bcd3ae9b12fd9abf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8676cd60bc24459c",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "340e93c36fab9190",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6dc53b0caa767d7",
        "type": "ui_group",
        "name": "Datos del paciente",
        "tab": "340e93c36fab9190",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b78f074be2b5944",
        "type": "ui_group",
        "name": "Diagnostico",
        "tab": "340e93c36fab9190",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42ffaf52d9acc830",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "detectorsintomas",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "340e93c36fab9190",
        "type": "ui_tab",
        "name": "Detector de síntomas COVID",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]